body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#f2f2f2;
}

.chat-container{
    width:420px;
    max-width:100%;
    height:700px;
    margin:20px auto;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 0 15px rgba(0,0,0,.2);
    display:flex;
    flex-direction:column;
}

.header{
    background:#0d6efd;
    color:#fff;
    padding:18px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.header p{
    margin-top:8px;
    font-size:14px;
    font-weight:normal;
}

.chat-box{
    flex:1;
    overflow-y:auto;
    padding:15px;
    background:#f8f9fa;
}

.bot{
    background:#e8f5e9;
    padding:12px;
    border-radius:10px;
    margin-bottom:10px;
    width:85%;
}

.user{
    background:#0d6efd;
    color:white;
    padding:12px;
    border-radius:10px;
    margin-left:auto;
    margin-bottom:10px;
    width:85%;
}

.input-area{
    display:flex;
    padding:10px;
    background:white;
    border-top:1px solid #ddd;
}

#userInput{
    flex:1;
    padding:12px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:8px;
}

#sendBtn{
    margin-left:10px;
    padding:12px 20px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#sendBtn:hover{
    background:#0b5ed7;
}
